# Ignore everything
*

# Allow Python and Jupyter Notebook files
!*.py
!*.ipynb
!*.md
!*.txt
!report.pdf

# Allow the (synthetic) parts dataset the app depends on to run
!data/Partscleaned.csv

# Allow CI workflow config
!.github/workflows/*.yml

# Allow directories (so folder structure is maintained)
!*/

# Ignore the virtual environment
venv/

# Allow .gitignore itself
!.gitignore
